/*Inserindo variaveis CSS*/
:root{
    /*estrutura da bariavel*/
    --branco_principal: #FFFFFF;
    --cinza_secundario: #C0C0C0;
    --botao_azul: #167BF7;
    --cor_de_fundo: #00030C;
    /*Criando uma variavel para a minha fonte*/
    --fonte_principal: 'Roboto';
}

body{
    background-color: var(--cor_de_fundo);
    color: var(--branco_principal);
    font-family: var(--fonte_principal);
    font-size: 16px;
    font-weight: 400;
}
/*O "var", funciona como uma funcao CSS, aplicando a sua logica interna*/

/*Chamando a minha classe do HTML*/

.principal{
    background-image: url(img/Background.png); /*adicionando uma imagem de fundo*/
    background-repeat: no-repeat; /*para não repetir o backgroud*/
    background-size: contain;
}

.container{
    height: 100vh; /*"vh" vai detectar a altura do dispositivo e vai preencher automaticamente*/
    display: grid;
    grid-template-columns: 50% 50%; /*Com esse comando ele dividi a minha tela em quando espaços eu precisa posso tbm dividir em 4 usando (25% 25% 25% 25%)*/
}

.container__botao{
    background-color: var(--botao_azul); /*chamado a minha variavel para aplicar a cor*/
    border-radius: 5px; /*arredondando as bordas*/
    padding: 1em; /*bordar interna*/
    color: var(--branco_principal);
    display: block;/*para ele ocupar todo o bloco*/ 
    text-decoration: none; /*tirando a decoracao do texto/
}

.botao_secundario{
    background-color: transparent; /*deixando a cor de fundo transparente*/
    border: 2px solid var(--branco_principal); /*adicionando uma bordar*/
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza_secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}